@model StajYonetimBilgiSistemi.Models.Entity.KURUM_TANIM
@{
    ViewBag.Title = "SilBilgiGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    @using (Html.BeginForm("Sil", "KurumTanim"))
    {
        <div class="form-group">
            @Html.HiddenFor(x => x.PK_KURUM_TANIM)
            <b>@Html.LabelFor(x => x.FIRMA_ADI):</b>  
            @Html.DisplayFor(x => x.FIRMA_ADI, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <b> @Html.LabelFor(x => x.FIRMA_YEKTILISI):</b>
            @Html.DisplayFor(x => x.FIRMA_YEKTILISI, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <b> @Html.LabelFor(x => x.FIRMA_ADRESİ):</b>
            @Html.DisplayFor(x => x.FIRMA_ADRESİ, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <b>@Html.LabelFor(x => x.TELEFON):</b> 
            @Html.DisplayFor(x => x.TELEFON, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <b>@Html.LabelFor(x => x.EMAIL):</b> 
            @Html.DisplayFor(x => x.EMAIL, new { @class = "form-control" })
        </div>
        <div>
            <button class="btn btn-danger">Kurum Sil</button>
            <a href="/GunlukCalisma/Index/">Ana Sayfa </a>
        </div>
    }
</div>
