
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using StajYonetimBilgiSistemi.Models.Entity
@model List<StajYonetimBilgiSistemi.Models.Entity.MesajBilgileri>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Mailbox</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link href="~/Css/all.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link href="~/Css/icheck-bootstrap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Css/adminlte.min.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">




        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content -->
            <section class="content">
                <div class="row">

                    @Html.Action("MesajListesiMenusu", "Mesaj")
                    <!-- /.col -->
                    <div class="col-md-9">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">Çöp Kutusu</h3>
                                <br />  <br />
                                <h6>Silinen mesajlar 30 gün sonra kalıcı olarak silinir</h6>

                                <!-- /.card-tools -->
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                
                                <div class="table-responsive mailbox-messages">
                                    <table class="table table-hover table-striped">
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>

                                               
                                                    <td class="mailbox-name">
                                                        <a href="/Mesaj/MesajDetaylari2/@item.MesajBilgileriId">
                                                            Kimden : @item.GönderenMail 
                                                        </a>
                                                    </td>
                                                    <td class="mailbox-subject">
                                                        <b>@item.Konu</b>
                                                    </td>
                                                    <td class="mailbox-attachment"><i class="fas fa-paperclip"></i></td>
                                                    <td class="mailbox-date">@item.MesajTarihi</td>
                                                </tr>
                                            }


                                        </tbody>
                                    </table>
                                    <!-- /.table -->
                                </div>
                                <!-- /.mail-box-messages -->
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer p-0">
                                <div class="mailbox-controls">
                                    <div style="margin-right:100px;text-align:right;">
                                        @{
                                            double totalPages = ViewBag.totalPages;
                                            if (ViewBag.PageNumber == 1)
                                            {
                                                <lu class="active" style="margin-left:4px;border:revert;border-color:lightgray;">
                                                    @Html.ActionLink("Önceki", "CopKutusu", new { PageNumber = ViewBag.PageNumber })
                                                </lu>

                                            }
                                            else
                                            {
                                                <lu class="active" style="margin-left:4px;border:revert;border-color:lightgray;">
                                                    @Html.ActionLink("Önceki", "CopKutusu", new { PageNumber = ViewBag.PageNumber - 1 })
                                                </lu>
                                            }
                                            for (int k = 1; k <= totalPages; k++)
                                            {

                                                if (k == ViewBag.PageNumber)
                                                {
                                                    <lu class="active" style="margin-left:4px;border:revert;border-color:lightgray;">
                                                        @Html.ActionLink((k).ToString(), "CopKutusu", new { PageNumber = k })
                                                    </lu>
                                                }
                                                else
                                                {
                                                    <lu style="margin-left: 4px; border: solid; border-color: lightgray;">
                                                        @Html.ActionLink((k).ToString(), "CopKutusu", new { PageNumber = k })
                                                    </lu>
                                                }


                                            }
                                            if (ViewBag.PageNumber == totalPages)
                                            {
                                                <lu class="active" style="margin-left:4px;border:revert;border-color:lightgray;">
                                                    @Html.ActionLink("Sonraki", "CopKutusu", new { PageNumber = ViewBag.PageNumber })
                                                </lu>
                                            }
                                            else
                                            {
                                                <lu class="active" style="margin-left:4px;border:revert;border-color:lightgray;">
                                                    @Html.ActionLink("Sonraki", "CopKutusu", new { PageNumber = ViewBag.PageNumber + 1 })
                                                </lu>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>


    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/adminlte.min.js"></script>
    <script>
        $(function () {
            //Enable check and uncheck all functionality
            $('.checkbox-toggle').click(function () {
                var clicks = $(this).data('clicks')
                if (clicks) {
                    //Uncheck all checkboxes
                    $('.mailbox-messages input[type=\'checkbox\']').prop('checked', false)
                    $('.checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square')
                } else {
                    //Check all checkboxes
                    $('.mailbox-messages input[type=\'checkbox\']').prop('checked', true)
                    $('.checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square')
                }
                $(this).data('clicks', !clicks)
            })

            //Handle starring for glyphicon and font awesome
            $('.mailbox-star').click(function (e) {
                e.preventDefault()
                //detect type
                var $this = $(this).find('a > i')
                var glyph = $this.hasClass('glyphicon')
                var fa = $this.hasClass('fa')

                //Switch states
                if (glyph) {
                    $this.toggleClass('glyphicon-star')
                    $this.toggleClass('glyphicon-star-empty')
                }

                if (fa) {
                    $this.toggleClass('fa-star')
                    $this.toggleClass('fa-star-o')
                }
            })
        })</script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Scripts/demo.js"></script>
</body>
</html>
