
@{
    ViewBag.Title = "MesajOku";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<StajYonetimBilgiSistemi.Models.Entity.MesajBilgileri>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Read Mail</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link href="~/Css/all.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link href="~/Css/adminlte.min.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">

                        @Html.Action("MesajListesiMenusu", "Mesaj")
                        <!-- /.col -->
                        <div class="col-md-9">
                            <div class="card card-primary card-outline">
                                <div class="card-header">
                                    <h3 class="card-title">Mail Oku</h3>

                                </div>
                                @foreach (var item in Model)
                                {


                                    <!-- /.card-header -->
                                    <div class="card-body p-0">
                                        <div class="mailbox-read-info">
                                            <h5>Konu :@item.Konu</h5>
                                            <br />
                                            <h6>
                                                Gönderen Mail:  @item.GönderenMail
                                                <span class="mailbox-read-time float-right">@item.MesajTarihi</span>
                                            </h6>
                                        </div>
                                        <div class="mailbox-read-message">


                                            @item.MesajIcerigi

                                        </div>
                                        <!-- /.mailbox-read-info -->
                                        <div class="mailbox-controls with-border text-center">
                                            <div class="btn-group">
                                                <div class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Delete">
                                                    <i class="far fa-trash-alt">
                                                        @Html.ActionLink("Sil", "Index3", "Mesaj", new { id = @item.MesajBilgileriId }, null)
                                                    </i>
                                                </div>
                                                <a  href="/Mesaj/MesajDetaylari/@ViewBag.NextID" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Reply">
                                                    <i class="fas fa-reply"></i>
                                                </a>
                                                <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Forward">
                                                    <i class="fas fa-share"></i>
                                                </button>
                                            </div>
                                            <!-- /.btn-group -->
                                       
                                        </div>
                                        <!-- /.mailbox-controls -->
                                        <!-- /.mailbox-read-message -->
                                    </div>

                                    <div class="card-footer bg-white">
                                        <ul class="mailbox-attachments d-flex align-items-stretch clearfix">
                                            <li>
                                                @if (@ViewBag.uzanti == ".pdf")
                                                {
                                                    <span class="mailbox-attachment-icon"><i class="far fa-file-pdf"></i></span>

                                                    <div class="mailbox-attachment-info">
                                                        <a href="@Url.Content(item.Dosyalar)" class="mailbox-attachment-name"><i class="fas fa-paperclip"></i> @item.Dosyalar.Substring(0, item.Dosyalar.Length - 4)</a>
                                                        <span class="mailbox-attachment-size clearfix mt-1">
                                                            <span>@((byte)item.Dosyalar.Length)</span>

                                                            <a href="#" class="btn btn-default btn-sm float-right"><i class="fas fa-cloud-download-alt"></i></a>
                                                        </span>
                                                    </div>
                                                }
                                                @if (@ViewBag.uzanti == ".jpg")
                                                {
                                                    <span class="mailbox-attachment-icon"><i class="far fa-file-image"></i></span>

                                                    <div class="mailbox-attachment-info">
                                                        <a href="@Url.Content(item.Dosyalar)" class="mailbox-attachment-name">
                                                            <i class="fas fa-paperclip"></i>@item.Dosyalar.Substring(0, item.Dosyalar.Length - 4)
                                                        </a>
                                                        <span class="mailbox-attachment-size clearfix mt-1">
                                                            <span>@((byte)item.Dosyalar.Length)</span>

                                                            <a href="@item.Dosyalar" class="btn btn-default btn-sm float-right"><i class="fas fa-cloud-download-alt"></i></a>
                                                        </span>
                                                    </div>
                                                }
                                                @if (@ViewBag.uzanti == ".jpeg")
                                                {
                                                    <span class="mailbox-attachment-icon"><i class="far fa-file-image"></i></span>

                                                    <div class="mailbox-attachment-info">
                                                        <img style="resize:initial" src="@Url.Content(item.Dosyalar)" class="mailbox-attachment-name" />
                                                        <span class="mailbox-attachment-size clearfix mt-1">
                                                            <span>@((byte)item.Dosyalar.Length)</span>

                                                            <a href="@item.Dosyalar" class="btn btn-default btn-sm float-right"><i class="fas fa-cloud-download-alt"></i></a>
                                                        </span>
                                                    </div>
                                                }
                                                @if (@ViewBag.uzanti == ".png")
                                                {
                                                    <span class="mailbox-attachment-icon"><i class="far fa-file-image"></i></span>

                                                    <div class="mailbox-attachment-info">
                                                        <img style="resize:initial" src="@Url.Content(item.Dosyalar)" class="mailbox-attachment-name" />
                                                        <span class="mailbox-attachment-size clearfix mt-1">
                                                            <span>@((byte)item.Dosyalar.Length)</span>

                                                            <a href="@item.Dosyalar" class="btn btn-default btn-sm float-right"><i class="fas fa-cloud-download-alt"></i></a>
                                                        </span>
                                                    </div>
                                                }
                                                @if (@ViewBag.uzanti == ".docx" || @ViewBag.uzanti == ".doc")
                                                {
                                                    <span class="mailbox-attachment-icon"><i class="far fa-file-word"></i></span>

                                                    <div class="mailbox-attachment-info">
                                                        <a href="@Url.Content(item.Dosyalar)" class="mailbox-attachment-name"><i class="fas fa-paperclip"></i> @item.Dosyalar.Substring(0, item.Dosyalar.Length - 4)</a>
                                                        <span class="mailbox-attachment-size clearfix mt-1">
                                                            <span>@((byte)item.Dosyalar.Length)</span>

                                                            <a href="#" class="btn btn-default btn-sm float-right"><i class="fas fa-cloud-download-alt"></i></a>
                                                        </span>
                                                    </div>
                                                }
                                            </li>
                                            <li>
                                                @if (@ViewBag.uzanti2 == ".pdf")
                                                {
                                                    <span class="mailbox-attachment-icon"><i class="far fa-file-pdf"></i></span>

                                                    <div class="mailbox-attachment-info">
                                                        <a href="@Url.Content(item.Dosyalar2)" class="mailbox-attachment-name"><i class="fas fa-paperclip"></i> @item.Dosyalar2.Substring(0, item.Dosyalar2.Length - 4)</a>
                                                        <span class="mailbox-attachment-size clearfix mt-1">
                                                            <span>@((byte)item.Dosyalar2.Length)</span>

                                                            <a href="#" class="btn btn-default btn-sm float-right"><i class="fas fa-cloud-download-alt"></i></a>
                                                        </span>
                                                    </div>
                                                }
                                                @if (@ViewBag.uzanti2 == ".jpg")
                                                {
                                                    <span class="mailbox-attachment-icon"><i class="far fa-file-image"></i></span>

                                                    <div class="mailbox-attachment-info">
                                                        <a href="@Url.Content(item.Dosyalar2)" class="mailbox-attachment-name">
                                                            <i class="fas fa-paperclip"></i>@item.Dosyalar2.Substring(0, item.Dosyalar2.Length - 3)
                                                        </a>
                                                        <span class="mailbox-attachment-size clearfix mt-1">
                                                            <span>@((byte)item.Dosyalar2.Length)</span>

                                                            <a href="@item.Dosyalar2" class="btn btn-default btn-sm float-right"><i class="fas fa-cloud-download-alt"></i></a>
                                                        </span>
                                                    </div>
                                                }
                                                @if (@ViewBag.uzanti2 == ".jpeg")
                                                {
                                                    <span class="mailbox-attachment-icon"><i class="far fa-file-image"></i></span>

                                                    <div class="mailbox-attachment-info">
                                                        <img style="resize:initial" src="@Url.Content(item.Dosyalar2)" class="mailbox-attachment-name" />
                                                        <span class="mailbox-attachment-size clearfix mt-1">
                                                            <span>@((byte)item.Dosyalar2.Length)</span>

                                                            <a href="@item.Dosyalar2" class="btn btn-default btn-sm float-right"><i class="fas fa-cloud-download-alt"></i></a>
                                                        </span>
                                                    </div>
                                                }
                                                @if (@ViewBag.uzanti2 == ".png")
                                                {
                                                    <span class="mailbox-attachment-icon"><i class="far fa-file-image"></i></span>

                                                    <div class="mailbox-attachment-info">
                                                        <img style="resize:initial" src="@Url.Content(item.Dosyalar2)" class="mailbox-attachment-name" />
                                                        <span class="mailbox-attachment-size clearfix mt-1">
                                                            <span>@((byte)item.Dosyalar2.Length)</span>

                                                            <a href="@item.Dosyalar2" class="btn btn-default btn-sm float-right"><i class="fas fa-cloud-download-alt"></i></a>
                                                        </span>
                                                    </div>
                                                }
                                                @if (@ViewBag.uzanti2 == ".docx" || @ViewBag.uzanti == ".doc")
                                                {
                                                    <span class="mailbox-attachment-icon"><i class="far fa-file-word"></i></span>

                                                    <div class="mailbox-attachment-info">
                                                        <a href="@Url.Content(item.Dosyalar2)" class=" mailbox-attachment-name"><i class="fas fa-paperclip"></i> @item.Dosyalar2.Substring(0, item.Dosyalar2.Length - 4)"</a>
                                                        <span class="mailbox-attachment-size clearfix mt-1">
                                                            <span>@((byte)item.Dosyalar2.Length)</span>

                                                            <a href="#" class="btn btn-default btn-sm float-right"><i class="fas fa-cloud-download-alt"></i></a>
                                                        </span>
                                                    </div>
                                                }
                                            </li>
                                            <li>
                                                @if (@ViewBag.uzanti3 == ".pdf")
                                                {
                                                    <span class="mailbox-attachment-icon"><i class="far fa-file-pdf"></i></span>

                                                    <div class="mailbox-attachment-info">
                                                        <a href="@Url.Content(item.Dosyalar3)" class="mailbox-attachment-name"><i class="fas fa-paperclip"></i> @item.Dosyalar3.Substring(0, item.Dosyalar3.Length - 4)</a>
                                                        <span class="mailbox-attachment-size clearfix mt-1">
                                                            <span>@((byte)item.Dosyalar3.Length)</span>

                                                            <a href="#" class="btn btn-default btn-sm float-right"><i class="fas fa-cloud-download-alt"></i></a>
                                                        </span>
                                                    </div>
                                                }
                                                @if (@ViewBag.uzanti3 == ".jpg")
                                                {
                                                    <span class="mailbox-attachment-icon"><i class="far fa-file-image"></i></span>

                                                    <div class="mailbox-attachment-info">
                                                        <a href="@Url.Content(item.Dosyalar3)" class="mailbox-attachment-name">
                                                            <i class="fas fa-paperclip"></i>@item.Dosyalar3.Substring(0, item.Dosyalar3.Length - 4)
                                                        </a>
                                                        <span class="mailbox-attachment-size clearfix mt-1">
                                                            <span>@((byte)item.Dosyalar3.Length)</span>

                                                            <a href="@item.Dosyalar3" class="btn btn-default btn-sm float-right"><i class="fas fa-cloud-download-alt"></i></a>
                                                        </span>
                                                    </div>
                                                }
                                                @if (@ViewBag.uzanti3 == ".jpeg")
                                                {
                                                    <span class="mailbox-attachment-icon"><i class="far fa-file-image"></i></span>

                                                    <div class="mailbox-attachment-info">
                                                        <img style="resize:initial" src="@Url.Content(item.Dosyalar3)" class="mailbox-attachment-name" />
                                                        <span class="mailbox-attachment-size clearfix mt-1">
                                                            <span>@((byte)item.Dosyalar3.Length)</span>

                                                            <a href="@item.Dosyalar3" class="btn btn-default btn-sm float-right"><i class="fas fa-cloud-download-alt"></i></a>
                                                        </span>
                                                    </div>
                                                }
                                                @if (@ViewBag.uzanti3 == ".png")
                                                {
                                                    <span class="mailbox-attachment-icon"><i class="far fa-file-image"></i></span>

                                                    <div class="mailbox-attachment-info">
                                                        <img style="resize:initial" src="@Url.Content(item.Dosyalar3)" class="mailbox-attachment-name" />
                                                        <span class="mailbox-attachment-size clearfix mt-1">
                                                            <span>@((byte)item.Dosyalar3.Length)</span>

                                                            <a href="@item.Dosyalar3" class="btn btn-default btn-sm float-right"><i class="fas fa-cloud-download-alt"></i></a>
                                                        </span>
                                                    </div>
                                                }
                                                @if (@ViewBag.uzanti3 == ".docx" || @ViewBag.uzanti == ".doc")
                                                {
                                                    <span class="mailbox-attachment-icon"><i class="far fa-file-word"></i></span>

                                                    <div class="mailbox-attachment-info">
                                                        <a href="@Url.Content(item.Dosyalar3)" class="mailbox-attachment-name"><i class="fas fa-paperclip"></i> @item.Dosyalar3.Substring(0, item.Dosyalar3.Length - 4)</a>
                                                        <span class="mailbox-attachment-size clearfix mt-1">
                                                            <span>@((byte)item.Dosyalar3.Length)</span>

                                                            <a href="#" class="btn btn-default btn-sm float-right"><i class="fas fa-cloud-download-alt"></i></a>
                                                        </span>
                                                    </div>
                                                }
                                            </li>

                                        </ul>
                                    </div>
                                }   
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
     
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/js/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
</body>
</html>