@model StajYonetimBilgiSistemi.Models.Entity.Kullanicilar
@{
    ViewBag.Title = "SilBilgiGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<div class="container">
    @using (Html.BeginForm("Sil", "Kullanici"))
    {@Html.HiddenFor(x => x.Id)
    <div class="form-group" style="background-color: #808080; color: #fff; border-radius: 30px; padding: 10px;float:left; font-size: 100%; grid-column: 1 ;width:500px; grid-row: 1; text-align: left; ">

        <b>Adı Soyadı:</b>
        @Html.DisplayFor(x => x.AdiSoyadi, new { @class = "form-control" })
    </div>
    <br />
    <div class="form-group" style="background-color: #808080; color: #fff; border-radius: 30px; padding: 10px;float:right; font-size: 100%; grid-column: 1 ;width:500px; grid-row: 1; text-align: left; ">

        <b>Kullanıcı Adı:</b>
        @Html.DisplayFor(x => x.KullaniciAdi, new { @class = "form-control" })
    </div>
    <br />
    <div style="clear:both;"></div>
    <div class="form-group" style="background-color: #808080; color: #fff; border-radius: 30px; padding: 10px;float:left; font-size: 100%; grid-column: 1 ;width:500px; grid-row: 1; text-align: left; ">

        <b>Email:</b>
        @Html.DisplayFor(x => x.Email, new { @class = "form-control" })
    </div>
    <br />
    <div class="form-group" style="background-color: #808080; color: #fff; border-radius: 30px; padding: 10px;float:right; font-size: 100%; grid-column: 1 ;width:500px; grid-row: 1; text-align: left; ">

        <b>Şifre:</b>
        @Html.DisplayFor(x => x.Sifre, new { @class = "form-control" })
    </div>
    <br />
    <div style="clear:both;"></div>
    <div class="form-group" style="background-color: #808080; color: #fff; border-radius: 30px; padding: 10px;float:left; font-size: 100%; grid-column: 1 ;width:500px; grid-row: 1; text-align: left; ">

        <b>Rol:</b>
        @Html.DisplayFor(x => x.Rol, new { @class = "form-control" })
    </div>
    <br />
    <div class="form-group" style="background-color: #808080; color: #fff; border-radius: 30px; padding: 10px;float:right; font-size: 100%; grid-column: 1 ;width:500px; grid-row: 1; text-align: left; ">

        <b>Kayıt Tarihi:</b>
        @Html.DisplayFor(x => x.KayitTarihi, new { @class = "form-control" })
    </div>
    <div style="clear:both;"></div>
    <div class="form-group" style="background-color: #808080; color: #fff; border-radius: 30px; padding: 10px;float:left; font-size: 100%; grid-column: 1 ;width:500px; grid-row: 1; text-align: left; ">

        <b>Çalışan Kurum</b>

        @Html.DisplayFor(x => x.KURUM_TANIM.FIRMA_ADI, new { @class = "form-control" })

    </div>
    <div class="form-group" style="background-color: #808080; color: #fff; border-radius: 30px; padding: 10px;float:right; font-size: 100%; grid-column: 1 ;width:500px; grid-row: 1; text-align: left; ">

        <b>Çalışan Departman </b>

        @Html.DisplayFor(x => x.KURUM_DEPARTMAN.ADI, new { @class = "form-control" })
    </div> <div style="clear:both;"></div>
    <div class="form-group" style="background-color: #808080; color: #fff; border-radius: 30px; padding: 10px;float:left; font-size: 100%; grid-column: 1 ;width:500px; grid-row: 1; text-align: left; ">

        <b>Çalışan Personel </b>
        @Html.DisplayFor(x => x.KURUM_PERSONEL.ADI, new { @class = "form-control" })
    </div>
    <br />
    <div style="clear:both;"></div>
    <div>
        <button class="btn btn-danger"  onclick = "return confirm('Are sure wants to delete?');">Kişi Sil </button>
        &nbsp;
        <a href="/Kullanici/KullaniciList/">Ana Sayfa </a>
    </div>
}
</div>
