@*@using StajYonetimBilgiSistemi.Models.Entity*@
@*@model List<StajYonetimBilgiSistemi.Models.Entity.STAJYER_TANIM>*@
@model IEnumerable<StajYonetimBilgiSistemi.Models.Entity.GUNLUK_CALISMA>
@{

    Layout = null;
}



<p style="text-align:center;font-size:large;">Günlük Staj Raporu</p>

<table class="table table-bordered " style="align-self:center;" border="1" cellpadding="3" cellspacing="3">


    @foreach (var item in Model)
    {

        <tr style="text-align: center; font-size: medium">
            <td>
                @Html.DisplayNameFor(model => model.TARIH)
            </td>
            <td style="width:800px;">
                @Html.DisplayFor(modelItem => item.TARIH)
            </td>
        </tr>
        <tr style="text-align: center; font-size: medium">

            <td>
                BAŞLIK
            </td>
            <td style="width:800px;">

                @Html.DisplayFor(modelItem => item.Baslik)

            </td>
        </tr>
       
        <tr style="text-align: center; font-size: medium">
            <td>

                @Html.DisplayNameFor(model => model.ACIKLAMA)

            </td>

          
            <td style="width:800px;">
                @Html.Raw(item.ACIKLAMA)
            </td>

        </tr>
    }



</table>

<br />








