@model StajYonetimBilgiSistemi.Models.Entity.KURUM_PERSONEL
@{
    ViewBag.Title = "GuncelleBilgiGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 style="text-align:center;">Personel Güncelle</h2>

<div class="container">

    <form action="/KurumPersonel/Guncelle/" method="post">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.PK_KURUM_PERSONEL)
        <div class="form-group" style="width: 520px; float: left; ">
            <b>Firma Adı:</b>
            <br />
            @if (ViewBag.dgr1 != null)
            {

                @Html.DropDownListFor(m => m.FK_KURUM_TANIM, ViewBag.dgr1 as SelectList, "---Seçiniz Kurum---", new { @class = "form-control" })

            }


        </div>
        <div class="form-group" style="width:520px;float:right;">

            <b> Departmanı </b>


            @Html.DropDownListFor(m => m.FK_KURUM_DEPARTMAN, new SelectList(" ") , "---Seçiniz Departman---", new { @class = "form-control" })

        </div>
        <div style="clear:both;"></div>
        <div class="form-group" style="width:520px;float:left;">
            <b>Adı</b>

            @Html.TextBoxFor(x => x.ADI, new { @class = "form-control" })

        </div>
        <div class="form-group" style="width:520px;float:right;">
            <b>Soyadı</b>

            @Html.TextBoxFor(x => x.SOYADI, new { @class = "form-control" })

        </div>
        <div style="clear:both;"></div>
        <div class="form-group" style="width:520px;float:left;">
            <b>Unvan </b>

            @Html.TextBoxFor(x => x.UNVAN, new { @class = "form-control" })


        </div>
        <div class="form-group" style="width:520px;float:right;">
            <b>Telefon </b>

            @Html.TextBoxFor(x => x.GSM, new { @class = "form-control" })

        </div>
        <div style="clear:both;"></div>
        <div class="form-group" style="width:520px;float:left;">
            <b>Email</b>

            @Html.TextBoxFor(x => x.EMAIL, new { @class = "form-control" })

        </div>
        <div style="clear:both;"></div>
        <div class="w3-panel w3-red" style="float:right;margin-right:50px;">
            <h3 style="color:red;">@TempData["V"]</h3>
        </div>
        <div>
            <button class="btn btn-primary">Güncelle</button>
            <a href="/KurumPersonel/Index/">Personel Listesi</a>
        </div>

    </form>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
     $(document).ready(function () {
         $("#FK_KURUM_TANIM").change(function () {
             $.get("/KurumPersonel/GetDepartman", { FK_KURUM_TANIM: $("#FK_KURUM_TANIM").val() }, function (data) {
                 $("#FK_KURUM_DEPARTMAN").empty();
                 $.each(data, function (index, row) {
                     $("#FK_KURUM_DEPARTMAN").append("<option value='" + row.PK_KURUM_DEPARTMAN + "'>" + row.ADI +"</option>")
                 });

                   });
         })
     });
</script>