@model StajYonetimBilgiSistemi.Models.Entity.KURUM_DEPARTMAN
@{
    ViewBag.Title = "SilBilgiGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="text-align:center;">Departman Bilgileri</h2>
<br />
<br />

<div class="container">
    @using (Html.BeginForm("Sil", "KurumDepartman"))
    {@Html.HiddenFor(x => x.PK_KURUM_DEPARTMAN)
    <div class="form-group" style="background-color: #808080; color: #fff; border-radius: 30px; padding: 10px;float:left; font-size: 100%; grid-column: 1 ;width:500px; grid-row: 1; text-align: left; ">

        <b> @Html.LabelFor(x => x.KURUM_TANIM.FIRMA_ADI):</b>
        @Html.DisplayFor(x => x.KURUM_TANIM.FIRMA_ADI, new { @class = "form-control" })
    </div>
    <div class="form-group" style="background-color: #808080; color: #fff; border-radius: 30px; padding: 10px;float:right; font-size: 100%; grid-column: 1 ;width:500px; grid-row: 1; text-align: left; ">
        <b> @Html.LabelFor(x => x.ADI):</b>
        @Html.DisplayFor(x => x.ADI, new { @class = "form-control" })
    </div>
    <div style="clear:both;"></div>
    <div class="form-group" style="background-color: #808080; color: #fff; border-radius: 30px; padding: 10px;float:left; font-size: 100%; grid-column: 1 ;width:500px; grid-row: 1; text-align: left; ">
        <b> @Html.LabelFor(x => x.AKTIF):</b>
        @Html.DisplayFor(x => x.AKTIF, new { @class = "form-control" })
    </div>
    <div style="clear:both;"></div>
    <br />
    <div>
        <button class="btn btn-danger"  onclick = "return confirm('Are sure wants to delete?');"> Sil</button>
        <a href="/KurumDepartman/Index/">Departman Listesi </a>
    </div>
}
</div>